<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Zapatilla Adidas Adizero 456</title>
	<!-- link google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
	<!-- link css -->
	<link rel="stylesheet" href="../css/estilo.css">

</head>

<body>
	<!-- inicio encabezado -->
	<header class="cabecera">
		<!-- logo -->
		<h1><a href="../index.html">River Sports</a></h1>
		<!-- inicio nav -->
		<nav>
			<ul class="menu">
				<li><a href="catalogo.html">Catálogo</a></li>
				<li><a href="river-sports.html">Nosotros</a></li>
				<li><a href="locales.html">Locales</a></li>
				<li><a href="contacto.html">Contacto</a></li>
			</ul>
		</nav>
		<!-- fin nav -->
	</header>
	<!-- fin encabezado -->

	<!-- inicio banner -->
	<section id="interior" class="parallax">
		<h2>Zapatilla Adidas Adizero 456</h2>
	</section>
	<!-- fin parallax  -->

	<section class="contenido">
        <article>
			<img src="../assets/img/producto.jpg" alt="">
            <h3>Zapatilla Adidas Adizero 456</h2>
			<p><strong>Talles:</strong></p>
			<ul>
				<li>41</li>
				<li>42</li>
				<li>43</li>
				<li>44</li>
			</ul>
			<p><strong>Descripción:</strong></p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem distinctio architecto ea sint, reiciendis numquam doloribus, tempora illo provident excepturi dolore! Alias quis voluptas, doloremque incidunt magnam deleniti provident voluptatum.</p>
			<p class="boton"><a href="#">Comprar</a></p>
		</article>
	</section>

    <!-- inicio footer -->
	<footer>
		<p>River Sports - Copyright 2023</p>
	</footer>
	<!-- fin footer -->
</body>

</html>