.menu {
	display: flex;
    align-items: center;
    justify-content: space-evenly;

    li {
        margin: 0 10px;
        list-style: none;
        
        a {
            background-color: transparent;
            color: #ffffff;
            border-radius: 4px;
            padding: 10px 15px;
            transition: ease-in-out all 0.4s;
            line-height: 1rem;

            &:hover {
                background-color: #920404
            }
        }
    }
}

